<html>
    <head>
        <title>Cristina's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Prima mea intalnire cu programarea</a></h2>
            <p>Participarea la workshopul Djangogirls Crearea primului website s-a dovedit a fi o revelatie pentru mine. Am invatat etapele ce tin de construirea unui web-site si am facut cunostinta cu mai multe platforme care sunt necesare pentru a ajunge la un rezultat final.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Programarea este o arta</a></h2>
            <p>Programarea este mai mult decat niste limbaje si coduri. Este o provocare care iti extinde limitele, te cheama sa iti trezesti imaginatia si starneste curiozitatea.</p>
        </div>
    </body>
</html>